table.board {
  border: solid 0.2rem black;
  border-collapse: collapse;
  margin: auto;
}

table.board tr td {
  width: 3.3rem;
  height: 3.3rem;
  text-align: center;
  font-size: 2rem;
  padding: 0.25rem;
  box-sizing: border-box;
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
  cursor: pointer;
}

@media only screen and (max-width: 55rem) {
table.board tr td {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
}

}

.emoji {
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
}

td.dark {
  background-color: #999999;
}

td.light {
  background-color: #BBBBBB;
}

td.dark_beta {
  background-color: #9999FF;
}

td.light_beta {
  background-color: #BBBBFF;
}

td.dark_alpha {
  background-color: #FF9999;
}

td.light_alpha {
  background-color: #FFBBBB;
}

#container {
  max-width: 66ch;
  margin: auto; 
}


.plr {
  background-color: #404040;
  color: white;
  font-weight: bold;
  padding: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

header {
  background-color: #404040;
  font-weight: bold;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.title {
  background-color: #404040;
  font-weight: bold;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  padding-left: 1.25rem;
}

html {
  color: #CCCCCC;
  background-color: #303030;
  font-family: 'Roboto', sans-serif;
}

a, a:visited, a:hover {
  color: orange;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

table.rule {
  border-collapse: collapse;
  width: 100%;
}

table.rule td {
  padding: 0.25rem;
}

table.rule tr {
  border-bottom: solid 0.2rem #202020;
}

table.rule tr:first-child {
  background-color: #101010;
  color: white;
  font-weight: bold;
}

.overflow {
  overflow: auto;
}

td.selected {
  background-color: magenta;
}

td.lastbeta {
  background-color: #4444FF;
}

td.lastbetaorg {
  background-color: #444499;
}

td.lastmove {
  background-color: #44FF44;
}

td.lastmoveorg {
  background-color: #449944;
}

pre {
  white-space: pre-wrap;
  overflow: auto;
}

.winner {
 color: #309B30; 
}

.loser {
  color: #9B3030;
}